[package]
name = "tracer-daemon"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
chrono = "0.4.38"
daemonize = "0.5"
reqwest = { version = "0.12", features = ["json"] }
serde =  { version = "1.0", features = ["std", "derive", "serde_derive"] }
serde_json = "1.0.117"
sysinfo = "0.30"
tokio = { version = "1.38.0", features = ["full"] }
toml = "0.8.14"
